body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 80px;
    background-color: rgb(243, 238, 168);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.container > a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    border-style: solid;
    border-color: blue;
    border-radius: 3px;
    border-width: 2px;
}

.container > a:hover {
    color: rgb(60, 220, 215);
    border-style: solid;
    border-color: blue;
    border-width: 2px;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
}

.noticias{
    width: 75%;
    background: rgb(223, 62, 95);
    color: rgb(0, 0, 0); 
}

.menulateral{
    width: 25%;
    background: rgba(179, 218, 50, 0.362);
    color: white;
}

.piepagina{
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}